---
permalink: sitemap.xml
excludeFromSitemap: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {# Home #}
  <url>
    {% if site.baseUrl %}
      <loc>{{ site.baseUrl }}</loc>
    {% else %}
      <loc>{{ '/' | url }}</loc>
    {% endif %}
    <changefreq>daily</changefreq>
  </url>

  {# Static pages #}
  <url>
    {% if site.baseUrl %}
      <loc>{{ site.baseUrl }}about/</loc>
    {% else %}
      <loc>{{ '/about/' | url }}</loc>
    {% endif %}
    <changefreq>monthly</changefreq>
  </url>
  <url>
    {% if site.baseUrl %}
      <loc>{{ site.baseUrl }}privacy/</loc>
    {% else %}
      <loc>{{ '/privacy/' | url }}</loc>
    {% endif %}
    <changefreq>yearly</changefreq>
  </url>

  {# Coin detail pages #}
  {% for coin in coins %}
  <url>
    {% if site.baseUrl %}
      <loc>{{ site.baseUrl }}coins/{{ coin.id }}/</loc>
    {% else %}
      <loc>{{ ('/coins/' ~ coin.id ~ '/') | url }}</loc>
    {% endif %}
    <changefreq>daily</changefreq>
  </url>
  {% endfor %}
</urlset>